body{
    background-color: rgb(94, 167, 167);
}
.footer {
    position: relative;
    min-height: 100%;
  }
  .phone{
      float: left;
      width: 250px;
  }
  .category{
      float: left;
      width: 400px;
      height: 200px;
      
  }
  .feedbackss{
      float: left;
      width: 250px;
      height: 200px;
  }
  .yourtext1{
      float: left;
    
  }